@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
$primary-font: "Oswald";
$primary-color: black;
$secondary-color: gold;
$secondary-color-darkened: goldenrod;
$secondary-color-greyed: rgb(135, 102, 20);

@media screen and(min-width: 760px) {

    #game-display {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40rem;
    }

    .cash-amounts {
        p {
            text-align: right;
            font-size: 25px;
        }
    }
    .case{
        min-width: 23%;
        height: 12%;
        font-size: 28px;
        margin: 2px;
    }
    #briefcase-display {
        display: flex;
        flex-direction: row;
        font-size: 15px;

        button {
            min-width: 60%;
        }
    }

    #user-prompt-display {
        h2 {
            font-size: 15px;
        }
    }

    #restart-button {
        button {
            font-size: 20px;
        }
    }
}
@media screen and (min-width: 1020px) {
    #game-display {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40rem;
    }
    .case{
        min-width: 23%;
        height: 12%;
        font-size: 28px;
        margin: 2px;
    }
}
