@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
$primary-font: "Oswald";
$primary-color: black;
$secondary-color: gold;
$secondary-color-darkened: goldenrod;
$secondary-color-greyed: rgb(135, 102, 20);

* {
    margin: 0;
    padding: 0;
    background-color: $primary-color;
    font-family: $primary-font, sans-serif;
}

body {
    min-height: 100%;
    padding-top: 10px;
    background-color: $primary-color;
}
